/* new styles for the featured section */
.featured-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 50px;
  margin: 50px;
  position: relative;
}

.featured-section::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
}

.featured-section-title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.featured-section-description {
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

/* update main styles */
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-grow: 1;
  background-color: #1a1a1a;
  margin-top: 50px;
}
